:root {
  /* Paleta de Colores */
  --color-primario: #1E3A8A;
  --color-secundario: #38BDF8;
  --color-fondo: #F0F9FF;
  --color-texto: #333333;

  /* Tipografía */
  --fuente-principal: Arial,  sans-serif;
  --fuente-secundaria: "Lora", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente-principal); /* Usamos la variable CSS */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
    padding: 10px;
  }
}